ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
   
}
#basket li{

    border: 1px dotted lightblue;
    padding: 10px;
    
}
.container {
    width: 800px;
    border: 1px dotted red;
    padding: 10px;
}